body{
  /* text-base/leading-6/font-medium */

  font-family: 'Inter', Sans-Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  background-color:#FFF;
   }

   #nprogress .bar {
     background: black;


   }
.gray-700{
color:#4b5563;
  }


.fedblueblue{
color:#012BDD;
  }



.cadre{
  border: 2px dashed #9CA3AF;
  border-radius: 8px;
   }

.fedblue{
  background-color: rgba(1, 43, 221, 1);
   }

.fedbutton{
  background-color: rgba(224,231,255, 1);
  color: rgba(1, 43, 221, 1);
   }

.fedtextblue{
  color: rgba(1, 43, 221, 1);
   }

.redbutton{
  background-color: rgba(221, 1, 43, 1);
   }

.fedblue:hover{
  background-color: rgba(1, 43, 255, 1);
  color:#FFFF;
   }

.height-1-2{
  height: 50vh;
   }

.pt-25{
  padding-top:15%;
   }


.pb-25{
  padding-bottom:15%;
   }

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
   }

li::marker {
  color: white;
   }


  /* Modifs Arnaud */

.button-fin{
      /* Button */

box-sizing: border-box;

/* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 9px 17px;

      width: 313px;
      height: 42px;

      /* white */

      background: #FFFFFF;
      /* gray/300 */

      border: 1px solid #D1D5DB;
      /* shadow/sm */

      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      }


      .asset-card{


        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 22px 14px 22px 16px;
        gap: 24px;

        /* white */

        background: #FFFFFF;
        /* /shadow/base */

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

  }

  .blue-main{
    border: 2px dashed #9CA3AF;
    border-radius: 8px;
    }

  .fedblue{
  background-color: rgba(1, 43, 221, 1);
    }

    .fedbutton{
    background-color: rgba(224,231,255, 1);
    color: rgba(1, 43, 221, 1);
      }

      @media screen and (min-width: 641px) {
.hiddedesk{
display:none;  }

      }
      @media screen and (max-width: 640px) {
.hiddebox{
display:none;  }

      }
