h1{
  font-size: unset !important;
}

body{
  /* text-base/leading-6/font-medium */

  font-family: 'Inter', Sans-Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  background-color:#FFF;
   }

   #nprogress .bar {
     background: black;


   }
.gray-700{
color:#4b5563;
  }

  .fix-bottom{

   position:absolute;

   left:0px;
   right:0px;  }

  @media screen and (min-width: 769px) {


  }

.newformfin  .pageheader{
display:none;    }

.separateur-card
{

/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 24px;

width: 344px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 296px;
height: 20px;

/* text-sm/leading-5/font-medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;

/* gray/900 */
color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


  }
.button-transparent{
  /* Button */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;

  width: 90px;
  height: 38px;

  /* white */
  background: #FFFFFF;
  /* gray/300 */
  border: 1px solid #D1D5DB;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;


  /* Text */

  width: 56px;
  height: 20px;

  /* text-sm/leading-5/font-medium */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* gray/700 */
  color: #374151;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  }
.fedblueblue{
color:#012BDD;
  }

.max-width-create{
max-width:302.2px;
  }
  .fedblue{
    background-color: rgba(1, 43, 221, 1);
     }

.dotted-background
{
background-image: radial-gradient(#E5E7EB 1px, transparent 0);
background-size: 10px 10px;
background-position: 70% -19px;
background-position-x: left;
}



.cadre{
  border: 2px dashed #9CA3AF;
  border-radius: 8px;
   }


.fedbutton{
  background-color: rgba(224,231,255, 1);
  color: rgba(1, 43, 221, 1);
   }

.fedtextblue{
  color: rgba(1, 43, 221, 1);
   }

.redbutton{
  background-color: rgba(221, 1, 43, 1);
   }

.fedblue:hover{
  background-color: rgba(1, 43, 255, 1);
  color:#FFFF;
   }

.height-1-2{
  height: 50vh;
   }

.pt-25{
  padding-top:15%;
   }


.pb-25{
  padding-bottom:15%;
   }

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
   }

li::marker {
  color: white;
   }


  /* Modifs Arnaud */

.button-fin{
      /* Button */

box-sizing: border-box;

/* Auto layout */

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 9px 17px;

      width: 100%;
      height: 42px;

      /* white */

      background: #FFFFFF;
      /* gray/300 */

      border: 1px solid #D1D5DB;
      /* shadow/sm */

      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      }


      .asset-card{


        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 22px 14px 22px 16px;
        gap: 24px;

        /* white */

        background: #FFFFFF;
        /* /shadow/base */

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

  }

    /* Colors */

    .skyfed{

    background-color:#EEF2FF;

  }

  .textskyfed{

color:#012BDD;

}


.font-xsxs{

font-size:10px;

}
  .asset-card-2{


    display: flex;
    flex-direction: column;
    padding: 22px 14px 22px 16px;
    gap: 24px;

    /* white */

    background: #FFFFFF;
    /* /shadow/base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}


  .blue-main{
    border: 2px dashed #9CA3AF;
    border-radius: 8px;
    }

  .fedblue{
  background-color: rgba(1, 43, 221, 1);
    }

    .fedbutton{
    background-color: rgba(224,231,255, 1);
    color: rgba(1, 43, 221, 1);
      }

      @media screen and (min-width: 641px) {
.hiddedesk{
display:none;  }

      }
      @media screen and (max-width: 640px) {
.hiddebox{
display:none;  }

      }

